/.dapper
/.trash-cache
/bin
*.pyc
*.pyo
*.swp
Dockerfile.dapper*
.python-version

integration/.tox/
integration/.venv/
integration/MANIFEST

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# ignores all goland project folders and files
.idea/
*.iml
*.ipr
