image: longhornio/longhorn-engine:{{ build.tags }}

{{#if build.tags}}
tags:
{{#each build.tags}}
  - {{this}}
{{/each}}
{{/if}}

manifests:
  -
    image: longhornio/longhorn-engine:{{ build.tags }}
    platform:
      architecture: amd64
      os: linux
  -
    image: longhornio/longhorn-engine:{{ build.tags }}
    platform:
      architecture: arm64
      os: linux
