image: longhornio/longhorn-engine:{{build.tag}}

{{#if build.tags}}
tags:
{{#each build.tags}}
  - {{this}}
{{/each}}
{{/if}}

manifests:
  -
    image: longhornio/longhorn-engine:{{build.tag}}-amd64
    platform:
      architecture: amd64
      os: linux
  -
    image: longhornio/longhorn-engine:{{build.tag}}-arm64
    platform:
      architecture: arm64
      os: linux
