image: longhornio/longhorn-engine:live-upgrade-{{build.tag}}

tags:
{{#each build.tags}}
  - {{this}}
{{/each}}

manifests:
  -
    image: longhornio/longhorn-engine:live-upgrade-{{build.tag}}
    platform:
      architecture: amd64
      os: linux
  -
    image: longhornio/longhorn-engine:live-upgrade-{{build.tag}}
    platform:
      architecture: arm64
      os: linux
